# OpenTelemetry Configuration
VITE_OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:18110/v1/traces

# gRPC Configuration
GRPC_HOST=localhost
GRPC_PORT=8102
PROTO_PATH=./protos/billing.proto

# Development flags
NODE_ENV=development
MOCK_API=false