# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Preserve binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.dll binary
*.exe binary
*.pdb binary
